* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(to right, #3c7dffcf, #975df4da, #fb45e9c5);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.background-content {
  height: 100vh;
}

.background-content .title {
  text-align: center;
  margin-top: 3rem;
}

.box ul {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.box ul li {
  position: relative;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fff;
  border-left: 0.3em solid transparent;
  list-style: none;
  opacity: 0;
  animation: animate 15s linear infinite;
}

.box ul li::before,
.box ul li::after {
  position: absolute;
  content: "";
  display: block;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fff;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}

.box ul li::after {
  transform: rotate(35deg);
}

.box ul li:nth-child(2) {
  animation-delay: 2s;
}
.box ul li:nth-child(3) {
  animation-delay: 4s;
}
.box ul li:nth-child(4) {
  animation-delay: 6s;
}
.box ul li:nth-child(5) {
  animation-delay: 3s;
}

@media screen and (max-width: 440px) {
  .box ul {
    gap: 3em;
  }
}

@keyframes animate {
  0% {
    transform: scale(0) rotate(0);
    opacity: 1;
    bottom: 0;
  }
  100% {
    transform: scale(2) rotate(190deg);
  }
}
